@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 4 142 170;
  --background-end-rgb: 0 51 74;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


body {
  color: #444;
}
h1{
  font-size: 26px;
}
p{
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
