.focus-outline {
  outline: none;
  box-shadow: 0px 0px 2px 1px rgb(66, 0, 0);
}
.images-wrapper {
  display: flex;
  flex-wrap: nowrap;

  .image-list {
    max-width: calc(60% - 200px);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    padding: 10px;
    > div {
      background-color: #333;
      color: #fff;
    }
  }
  .image-full {
    max-width: 40%;
    min-width: 40%;
    padding: 0 50px 50px 0;
  }

  .filter-info {
    min-width: 200px;
    overflow: hidden;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    .clear-button {
      border: 2px dashed #5f0902;
      width: 100%;
      display: block;
      text-align: center;
      &:hover {
        background-color: #5f0902;
        color: #fff;
      }
    }
    .filter-button {
      border: 2px dashed #95ffa0;
      width: 100%;
      display: block;
      text-align: center;
      &:hover {
        background-color: #353c0034;
      }
    }
    > div {
      width: 100%;
    }
  }
}
